.catalog {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.catalog--erotic p {
  margin: 0;
  padding: 100px 0;
  color: $color-nero;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog--inactive {
  display: none;
}
