.table-section {
  background-image: url("../img/table-section-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.table-section__wrapper {
  max-width: 960px;
  padding: 40px 10px 50px 10px;
  margin: 0 auto;
}

.table-section__title {
  margin: 0 0 30px 0;
  color: $color-nero;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 25px;
  position: relative;

  @include vp--639 {
    font-size: 26px;
  }

  &::after {
    content: "";
    width: 90px;
    height: 3px;
    background-color: $color-nero;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

.table-section__table {
  width: 100%;
  border-collapse: collapse;

  @include vp--639 {
    width: 640px;
  }
}

.table-section__table-wrapper {
  background-color: $color-default-white;
  padding: 30px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15);

 @include vp--639 {
   overflow-x: auto;
 }
}


th {
  font-weight: 700;
  font-size: 14px;
  line-height: 48px;
}

th:first-of-type {
  text-align: left;
  padding-left: 30px;
}

td {
  font-weight: 400;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
}

tr:nth-child(odd) {
background-color: $color-white-smoke;
}
