// Утилитарные классы
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.overlay {
  background: rgba(0,0,0,0.7);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;

  &--hidden {
    display: none;
  }
}
