// Переменные
// Typography

$font-family-opensans: "Open Sans", Arial, sans-serif;

// Colors

$color-default-white: #ffffff;
$color-default-black: #000000;
$color-defalut-red: #ff0000;
$color-nero: #1e1e1e;
$color-white-smoke: #f3f3f3;
$color-quartz: #dbdbdf;
$color-suva-grey: #8c8c8c;
$color-jazzberry-jam: #b4014e;
$color-cerulean-blue: #375cb2;
$color-lavender-blush: #f7f2f4;
$color-pale-violet-red: #d579a1;
$color-ghost: #ceced3;

// linear-gradient
$button-blue-linear-gradient: linear-gradient(0deg, #4776e6, #8e54e9);
$button-red-linear-gradient: linear-gradient(0deg, #ec237a, $color-jazzberry-jam);
